* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    width:100%;
    height: 100%;
}

.navHidden {
     flex:100%;
     height: 10%;
     background-color: transparent;
     display: none;
     flex-wrap: wrap;
}

.logoHidden {
    flex:20%;
}

#logoHidden {
    padding-left:30px ;
    padding-top:30px ;
    width:100px;
    margin:0 auto;
}

#logoHidden img {
    margin:0 auto;
    width: 50%;
}

.navHambu {
    flex:80%;
}

/*-navbar mobile*/

.device {
	position: relative;
	width: 360px;
	height: 320px;
    display: block;
}

.container {
	position: absolute;
	top:-20px; right: -170px;
	bottom: 0; left: 0px;
	overflow: hidden;
}

/*style nav*/

.main-nav {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #fff;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 2;
    visibility: visible;
}


.main-nav::before {
	content: '';
    position: absolute;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    transform-origin: 0 0;
    transition: all .275s .1s;
   
}
/* nav ul style*/
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; 
    justify-content: center;
    margin-top:0px ;
    
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: left;
  
}


.main-nav a {
    opacity: 0;
    color:#fff;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    color:#fff;
    transform: translateY(50px);
    transform:translateX(-50px);
}

.main-nav ul, .main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px ;
	color:#000;
	font-size: 1.1em;
	text-decoration: none;
	font-weight: bolder;
}

.main-nav a:hover{
    color:#00abbb;
}

.open-main-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 3;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
/*simbolo nav */
.burger {
	position: relative;
    display: block;
    right:20px;
    top:50px;
	width: 30px;
	height: 4px;
	margin: 0 auto;
	background:#fff;
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #fff;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px)  ;
}

.burger:before {
	transform: translateY(-16px) ;
}

.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg) ; background-color:#bd0052;
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg); background-color:#bd0052;
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}
/*termina burger menu*/

.back {
    background-image: url("img/back1.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    height: 1100px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    box-shadow: 0px 10px 20px black;
    background-color: #000;
    margin-bottom: 150px;
    overflow: hidden;
    
}

.navBar {
    padding-top:10px ;
    flex:100% ;
    height:120px ;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;  
}


.navFirst {
    flex:47%;
    overflow: hidden;
}

#navFirst {
    height:100% ;
    width:90%;
    margin:0 auto;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
}

/*hijos de navFirst*/

#hrFirst {
    flex:50% ;
}

#hrFirst hr {
    width:70%;
    margin:0 auto;
    border: 2px solid white;
}

#navAbout {
    flex: 20%;
}

#navAbout nav {
    width:100%;
    text-align: center;
}

#navAbout a {
    text-decoration:none ;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size:1.8em ;
}

#navAbout a:hover {
    color:#bd0052;
}

#hrSecond {
    flex:30% ;
}

#hrSecond hr {
    width:70%;
    margin:0 auto;
    border: 2px solid white;
}

/*termina hijos de #navFirst*/

.logo {
    flex:6%;
}

#logo {
    padding-left:30px ;
    padding-top:30px ;
    width:100px;
    margin:0 auto;
}

#logo img {
    margin:0 auto;
    width: 50%;
}


/*---------------hijos de navsecond ------------*/

.navSecond {
    flex:47%;
}

#navSecond {
    height:100% ;
    width:90%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hrThird {
    flex:30% ;
}

#hrThird hr {
    width:65%;
    margin:0 auto;
    border: 2px solid white;
}

#navServices {
    flex: 20%;
}

#navServices nav {
    width:100%;
    text-align: center;
}

#navServices a {
    text-decoration:none ;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size:1.7em ;
}

#navServices a:hover {
    color:#bd0052;
}

#hrForth {
    flex:50% ;
}

#hrForth hr {
    width:64%;
    margin:0 auto;
    border: 2px solid white;
}

.cta {
    margin-top:120px ;
    flex:100% ;
    height:350px ;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#cta {
    width:50%;
    margin:0 auto;
    text-align: center;
}

#cta h1 {
    font-size: 7em;
    color:#fff;
}

#cta hr {
    width:33%;
    border: 3px solid white;
    margin: 0 auto;
}

#cta p {
    padding-top:20px ;
    font-size:2.1em ;
    padding-bottom:30px ;
    color:white;
}

#cta button {
    background-color:#bd0052 ;
    padding:10px 25px 10px 25px;
    font-size: 2em;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid #bd0052;
}

#cta button:hover {
  border: 2px solid white;
  background-color: #bd0052c4;
}

.red {
    padding-top:40px ;
    flex:100% ;
    height:350px ;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: flex-end;
}

#red {
  width:6%;
}

#red svg {
    width:70px;
    height: 70px;
    cursor: pointer;
}

#face svg:hover{
    stroke: #bd0052;
}

#ins {
    fill:white;
}

#ins svg:hover {
    fill:#bd0052;
}

/*----inicia backUno------*/

.backUno {
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.title {
    flex:100%;
}

#title {
    display: flex;
    width:95%;
    flex-direction: row;
    margin:0 auto;
    align-items: center;
}

#hrFifth {
    flex:37% ;
}

#hrFifth hr {
    width:50%;
    border: 3px solid #bd0052;
    margin-left:50% ;
}

#tittle {
    flex:26%;
    text-align: center;
}

#tittle h2 {
    font-size:2.6em ;
}

#hrSixth {
    flex:37%;
}

#hrSixth hr {
    width:50%;
    border: 3px solid #bd0052;
    margin-right:50% ;
}

.img_first {
    flex:100%;
    padding-bottom: 60px;
}

#img__first {
    width:75%;
    margin:0 auto;
}

#img__first img {
    width:100%;
}

.expla {
    flex:100%;
}

.explanation {
    width:63%;
    margin:0 auto;
}

.explanation p {
    padding-top: 40px;
    font-size: 2em;
    padding-bottom:40px ;
}

/*-----inicia backTwo------*/

.backTwo {
    box-shadow: -10px -20px 25px black;
    margin-top:100px ;
    background-image: url("img/back3.jpg");
    background-position: center center;
    background-size: cover;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
}


.titleTwo {
    flex:100%;
    padding-top: 80px;
    padding-bottom: 60px;
}

#titleTwo {
    width:80%;
    display: flex;
    text-align: center;
    margin:0 auto;
    align-items: center;
}

#hrSeventh {
    flex:35% ;
}

#hrSeventh hr {
    width:28%;
    margin-left:70% ;  
    border:3px solid #bd0052;
}

#tittleTwo {
    flex: 30%;
}

#tittleTwo h2 {
    font-size:2.8em ;
    color:white;
}

#hrEight {
    flex:35%;
}

#hrEight hr {
    width:28%;
    border:3px solid #bd0052;
    margin-right:70%;
}

.info {
    margin-top:0px ;
    flex:50%;
}

.material {
    width:90%;
    margin:0 auto;  
    text-align: center; 
    padding-bottom: 40px;
}

.material h2 {
    font-size:2.6em ;
    text-align: center;
    padding-bottom:30px ;
    color:white;
    font-weight: bolder;
}

.material p {
    width:70%;
    color:white;
    margin:0 auto;
    font-size: 2.2em;
    text-align: start;
    padding-bottom:50px ;
}

.material button {
    background-color:#bd0052 ;
    padding:10px 25px 10px 25px;
    font-size: 2em;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid #bd0052;
}

.material button:hover {
    border: 2px solid white;
     background-color: #bd0052c4;
}

.material_img {
    flex:50%;
}

/*-----inicia backThree ---------------*/

.backThree {
    margin-top: 150px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.titleThree {
    flex:100%;
}

#titleThree {
    display: flex;
    width:95%;
    margin:0 auto;
    text-align: center;
    align-items: center;
}

#hrNineth {
    flex:34%;
}

#hrNineth hr {
    width:60%;
    border:4px solid #bd0052;
    margin-left:35%;
}

#tittleThree {
    flex: 32%;
    text-align: center;
}

#tittleThree h2 {
    font-size:2.6em ;
    text-transform: uppercase;
}

#hrTenth {
    flex:34%;

}

#hrTenth hr {
    width:60%;
    border:4px solid #bd0052;
    margin-right:45%;
}

.infoTwo {
    padding-top: 100px;
    flex:100%;
}

#infoTwo {
  display: flex;
  flex-wrap: wrap;
  width:90%;
  justify-content: space-evenly;
  margin:0 auto;
  
}

.advan {
    width:400px;
    height: 500px;
    text-align: center;
}

.advan h3 {
    font-size:1.6em ;
    padding-top: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.advan p {
    width:80%;
    font-size:1.2em;
    margin:0 auto;
    padding-bottom:30px ;   
}

.advan button {
    border:3px solid #bd0052;
    background-color:#bd0052 ;
    padding:10px 30px 10px 30px;
    font-size: 1.6em;
    color:white;
    font-weight: bolder;
    cursor: pointer;
}

.advan button:hover {
    border: 3px solid #bd0052;
    background-color: #fff;
    color:#bd0052;
}


/*-------inicia backForth-----------*/

.backForth {
    margin-top: 100px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url("img/back2.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
}

.titleForth {
    flex:100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

#titleForth {
    display: flex;
    width:80%;
    margin:0 auto;
    align-items: center;
    text-align: center;
}

#hrEleventh {
    flex:30%;
}

#hrEleventh hr {
    width:70%;
    border:4px solid #bd0052;
    margin-left:30%;
}

#tittleForth {
    flex:40%;
}

#tittleForth h2 {
    font-size:2.6em ; 
    color:#fff;
}

#hrTwelve {
    flex:30%;
}

#hrTwelve hr {
    width:70%;
    border:4px solid #bd0052;
    margin-right:30%;
}

.paragraph {
    flex:100%;
}

.paragra {
    margin:0 auto;
    width:60%;
    text-align: center;
    display: none;
}

.paragra h2 {
    font-size: 2.5em;
    padding-bottom:30px ;
    color:#bd0052;
}

.paragra p {
    width:70%;
    margin:0 auto;
    font-size: 2.5em;
    padding-bottom:30px;
    color:#fff;
}

.personTestimonial {
    flex:100%;
    padding-bottom: 50px;
}

.person_testimonial {
    width:30%;
    display: flex;
    margin:0 auto;
    justify-content: space-evenly;
    text-align: center;
}

.person {
    width:180px;
}

.person Svg {
    fill:#fff;
}

.active svg {
   fill:#bd0052;
}

.people {
    font-size: 1.2em;
    color:#fff;
    display: none;
}

/*-----inicia formulary----------*/

.formulary {
    margin-top: 100px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.titleFifth {
    flex:100%;
}

#titleFifth {
    width:80%;
    display: flex;
    align-items: center;
    margin:0 auto;
    text-align: center;
}

#hrThirteenth {
    flex:39%;
}

#hrThirteenth hr {
    width:50%;
    border:4px solid #bd0052;
    margin-left:50%;
}

#tittleFifth {
    flex:22%;
}

#tittleFifth h2 {
    font-size:2.8em ; 
    color:#000;
}

#hrFourteenth {
    flex:39%;
}

#hrFourteenth hr {
    width:50%;
    border:4px solid #bd0052;
    margin-right:50%;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex:100%;
}

.formu {
    padding-top: 40px;
    width:45%;
    margin:0 auto;
}

form {
    width:100%;
}

input[type=text], input[type=tel], input[type=email] {
    width: 100%;
    padding: 14px;
    border: none;
    border-bottom: 6px solid #bd0052;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 18px;
}

label {
    font-size: 2em;
}

textarea {
    width:100%;
    border:none;
    height:230px ;
    border-bottom: 6px solid #bd0052;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 50px;
    resize: none;
}

input[type=submit] {
    border: 4px solid #bd0052;
    background-color:#bd0052 ;
    padding:10px 30px 10px 30px;
    font-size: 2em;
    color:white;
    font-weight: bolder;
    margin-left:41%;
    transition: all 0.5s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #fff;
    color:#bd0052;
    border: 4px solid #bd0052;
}

/*-----inicia footer-----*/

footer {
    margin-top: 300px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
}

.lgo {
    flex:10%;
}

#lgo {
    padding-left:30px ;
    padding-top:30px ;
    width:100px;
    margin:0 auto;
}

#lgo img {
    margin:0 auto;
    width: 50%;
}

.comunity {
    flex:40%;
}

#comunity {
    width:80%;
    margin:0 auto;
}

#comunity h3 {
    padding-top:100px;
    font-size: 1.8em;
    padding-bottom: 20px;
    color:#bd0052;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    text-transform: uppercase;
}

#comunity h4:hover {
    color:#bd0052
}

#comunity h4 {
    font-size: 1.6em;
    padding-bottom: 35px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

.references {
    flex:40%;
}

#references {
    width:80%;
    margin:0 auto;
}

#references h3 {
    padding-top:100px;
    font-size: 1.8em;
    padding-bottom: 15px;
    color:#bd0052;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.6s ease-in-out;
}

#references h4 {
    font-size: 1.6em;
    padding-bottom: 35px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

#references h4:hover {
    color:#bd0052;
}

.redSocial {
    flex:10%;
}

#redSocial {
    padding-top: 150%;
    width:50%;
    margin:0 auto;
    padding-bottom:30% ;
}

#instagram svg {
    fill: #fff;
    transition:1s ;
}

#instagram svg:hover {
    fill:#bd0052;
}

#facebook svg {
    stroke:#fff;
    transition: 1S;
}

#facebook svg:hover {
   stroke:#bd0052;
}

.copy {
    flex:100%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}




@media only screen and (min-width: 1500px) and (max-width:1640px) {

    .logo {
        flex:10%;
    }
    
    .navSecond {
        flex:40%;
    }

    #hrThird {
        flex:24% ;
    }


    #red svg {
        width: 60px;
        height: 60px;
    }

    /*backTow inicio */

    #tittleTwo h2 {
        font-size: 2.4em;
    }

    .material h2 {
        font-size: 2.4em;
    }

    .material p {
        width: 90%;
        font-size: 2em;
    }

    .material button {
        font-size: 1.8em;
    }
    /*testimoni inicio*/

    .paragra p {
        font-size: 2em;
    }
}

@media only screen and (min-width: 1400px) and (max-width:1499px) {

    .logo {
        flex:10%;
    }

    #navAbout a {
        font-size: 1.4em;
    }
    
    .navSecond {
        flex:40%;
    }

    #navServices a {
        font-size: 1.4em;
    }

    #hrThird {
        flex:24% ;
    }

    #cta button {
        font-size: 1.8em;
    }

    #red svg {
        width: 60px;
        height: 60px;
    }

    /*backTow inicio */

    #tittleTwo h2 {
        font-size: 2.4em;
    }

    .material h2 {
        font-size: 2.4em;
    }

    .material p {
        width: 90%;
        font-size: 2em;
    }

    .material button {
        font-size: 1.8em;
    }
    /*testimoni inicio*/
    #tittleForth h2 {
        font-size: 2.4em;
    }

    .paragra p {
        font-size: 2em;
    }

    /* formulario */

    #tittleFifth h2 {
        font-size: 2.4em;
    }

    /* footer */
    #comunity h4 {
        font-size: 1.4em;
    }
    #references h4 {
        font-size: 1.4em;
    }
    #facebook svg {
        height: 50px;
        width:50px;
    }

    #instagram svg {
        height: 50px;
        width:50px;
    }

}

@media only screen and (min-width: 1300px) and (max-width:1399px) {


    #navAbout a {
        font-size: 1.4em;
    }
    
    .navSecond {
        flex:40%;
    }

    #navServices a {
        font-size: 1.4em;
    }

    #hrThird {
        flex:24% ;
    }

    #cta button {
        font-size: 1.8em;
    }

    #red svg {
        width: 60px;
        height: 60px;
    }
    /* backUno */
 
    #hrFifth hr {
        width: 45%;
    }

    #hrSixth hr {
        width: 45%;
        margin-left: 6%;
    }

    /*backTow inicio */

    #tittleTwo h2 {
        font-size: 2.4em;
    }
    #hrSeventh hr {
        margin-left: 68%;
    }

    #hrEight hr {
        margin-left: 4%;
    }

    .material h2 {
        font-size: 2.4em;
    }

    .material p {
        width: 90%;
        font-size: 2em;
    }

    .material button {
        font-size: 1.8em;
    }
    /*testimoni inicio*/
    #tittleForth h2 {
        font-size: 2em;
    }

    #hrEleventh hr {
        width: 60%;
    }

    #hrTwelve hr  {
        width: 60%;
        margin-left: 7%;
    }

    .paragra p {
        font-size: 2em;
    }
    .personTestimonial {
        padding-bottom: 70px;
    }

    .person_testimonial {
        width: 40%;
    }

    /* backThree */
    #tittleThree h2  {
        font-size: 2em;
    }

    #hrNineth hr {
        width: 55%;
    }

    #hrTenth hr {
        width: 55%;
        margin-left: 8%;
    }

    /* formulario */

    #tittleFifth h2 {
        font-size: 2.4em;
    }

    /* footer */
    #comunity h4 {
        font-size: 1.4em;
    }
    #references h4 {
        font-size: 1.4em;
    }
    #facebook svg {
        height: 50px;
        width:50px;
    }

    #instagram svg {
        height: 50px;
        width:50px;
    }

}

@media only screen and (min-width: 1200px) and (max-width:1299px) {

    #navAbout a {
        font-size: 1.4em;
    }
    
    .navSecond {
        flex:40%;
    }

    #navServices a {
        font-size: 1.4em;
    }

    #hrThird {
        flex:24% ;
    }

    #cta button {
        font-size: 1.6em;
    }

    #red svg {
        width: 60px;
        height: 60px;
    }
    /* backUno */
 
    #hrFifth hr {
        width: 45%;
    }

    #hrSixth hr {
        width: 45%;
        margin-left: 6%;
    }

    /*backTow inicio */

    #tittleTwo h2 {
        font-size: 2.4em;
    }
    #hrSeventh hr {
        margin-left: 68%;
    }

    #hrEight hr {
        margin-left: 4%;
    }

    .material h2 {
        font-size: 2.4em;
    }

    .material p {
        width: 90%;
        font-size: 1.8em;
    }

    .material button {
        font-size: 1.8em;
    }
    /*testimoni inicio*/
    #tittleForth h2 {
        font-size: 2em;
    }

    #hrEleventh hr {
        width: 60%;
    }

    #hrTwelve hr  {
        width: 60%;
        margin-left: 7%;
    }

    .paragra p {
        font-size: 1.8em;
    }
    .personTestimonial {
        padding-bottom: 70px;
    }

    .person_testimonial {
        width: 40%;
    }

    /* backThree */
    #tittleThree h2  {
        font-size: 2em;
    }

    #hrNineth hr {
        width: 55%;
    }

    #hrTenth hr {
        width: 55%;
        margin-left: 8%;
    }

    /* formulario */

    #tittleFifth h2 {
        font-size: 2.4em;
    }

    input[type=submit] {
        margin-left: 33% ;
    }

    /* footer */
    #comunity h4 {
        font-size: 1.4em;
    }
    #references h4 {
        font-size: 1.4em;
    }
    #facebook svg {
        height: 50px;
        width:50px;
    }

    #instagram svg {
        height: 50px;
        width:50px;
    }
      
}

@media only screen and (min-width: 1100px) and (max-width:1199px) {
    .back {
        height: auto;
    }

    .navBar {
        flex-wrap: nowrap;
    }

    .navFirst {
        flex: 47%;
    }

    .logo {
        flex: 6%;
    }
    .navSecond {
        flex: 47%;
    }

    #navServices a,#navAbout a {
        font-size: 1.4em;   
    }

    #cta h1 {
        font-size: 6em;
    }

    #cta hr {
        width: 40%;
    }

    #cta p {
        font-weight: 600;
    }

    #cta button {
        font-size: 1.6em;
    }

    #red svg {
        width: 60px;
        height: 60px;
    }
    /* backUno */
 
    #hrFifth hr {
        width: 45%;
    }

    #hrSixth hr {
        width: 45%;
        margin-left: 6%;
    }

    .explanation p  {
        font-size: 1.6em;
    }

    /*backTow inicio */

    #tittleTwo h2 {
        font-size: 2.4em;
    }
    #hrSeventh hr {
        margin-left: 66%;
    }

    #hrEight hr {
        margin-left: 6%;
    }

    .material h2 {
        font-size: 2.4em;
    }

    .material p {
        width: 90%;
        font-size: 1.6em;
    }

    .material button {
        font-size: 1.6em;
    }
    /*testimoni inicio*/
    #titleForth {
        width: 90%;
    }

    #tittleForth h2 {
        font-size: 2em;
    }

    #tittleForth {
        flex: 50%;
    }
    #hrEleventh,#hrTwelve {
        flex: 25%;
    }

    #hrEleventh hr {
        width: 60%;
        margin-left: 40%;
    }

    #hrTwelve hr  {
        width: 60%;
        margin-left: 0%;
    }

    .paragra p {
        width: 80%;
        font-size: 1.8em;
    }
    .personTestimonial {
        padding-bottom: 70px;
    }

    .person_testimonial {
        width: 40%;
    }

    /* backThree */
    #tittleThree h2  {
        font-size: 2em;
    }
    

    #hrNineth hr {
        width: 55%;
    }

    #hrTenth hr {
        width: 55%;
        margin-left: 8%;
    }

    /* formulario */

    #tittleFifth h2 {
        font-size: 2.4em;
    }

    input[type=submit] {
        margin-left: 33% ;
        font-size: 1.6em;
    }

    /* footer */
    #comunity h4 {
        font-size: 1.4em;
    }
    #references h4 {
        font-size: 1.4em;
    }
    #facebook svg {
        height: 50px;
        width:50px;
    }

    #instagram svg {
        height: 50px;
        width:50px;
    }   

}

@media only screen and (min-width: 1000px) and (max-width:1099px) {

    .back {
        height: auto;
        background-position:center center ;
        background-size:100%;
    }

    .navBar {
        flex-wrap: nowrap;
    }

    .navFirst {
        flex: 47%;
    }

    .logo {
        flex: 6%;
    }
    .navSecond {
        flex: 47%;
    }

    #navServices a,#navAbout a {
        font-size: 1.4em;   
    }

    #cta h1 {
        font-size: 6em;
    }

    #cta hr {
        width: 40%;
    }

    #cta p {
        font-weight: 600;
    }

    #cta button {
        font-size: 1.6em;
    }

    #red svg {
        width: 50px;
        height: 50px;
    }
    /* backUno */
 
    #hrFifth hr {
        width: 45%;
    }

    #hrSixth hr {
        width: 45%;
        margin-left: 6%;
    }

    .explanation p  {
        font-size: 1.6em;
    }

    /*backTow inicio */

    #tittleTwo h2 {
        font-size: 2.4em;
    }
    #hrSeventh hr {
        margin-left: 66%;
    }

    #hrEight hr {
        margin-left: 6%;
    }

    .material h2 {
        font-size: 2.4em;
    }

    .material p {
        width: 90%;
        font-size: 1.6em;
    }

    .material button {
        font-size: 1.6em;
    }
    /*testimoni inicio*/
    #titleForth {
        width: 90%;
    }

    #tittleForth h2 {
        font-size: 2em;
    }

    #tittleForth {
        flex: 50%;
    }
    #hrEleventh,#hrTwelve {
        flex: 25%;
    }

    #hrEleventh hr {
        width: 60%;
        margin-left: 40%;
    }

    #hrTwelve hr  {
        width: 60%;
        margin-left: 0%;
    }

    .paragra p {
        width: 80%;
        font-size: 1.8em;
    }
    .personTestimonial {
        padding-bottom: 70px;
    }

    .person_testimonial {
        width: 40%;
    }

    /* backThree */
    #tittleThree h2  {
        font-size: 2em;
    }
    

    #hrNineth hr {
        width: 55%;
    }

    #hrTenth hr {
        width: 55%;
        margin-left: 8%;
    }

    /* formulario */

    #tittleFifth h2 {
        font-size: 2.4em;
    }

    input[type=submit] {
        margin-left: 33% ;
        font-size: 1.6em;
    }

    /* footer */
    #comunity h4 {
        font-size: 1.4em;
    }
    #references h4 {
        font-size: 1.4em;
    }
    #facebook svg {
        height: 50px;
        width:50px;
    }

    #instagram svg {
        height: 50px;
        width:50px;
    }   
}

@media only screen and (min-width: 900px) and (max-width:999px) {
    html,body {
        margin:0px;
        padding:0px;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }

    .back {
        height: auto;
        background-position:center center ;
        background-size:100%;
    }

    .navBar {
        flex-wrap: nowrap;
    }

    .navFirst {
        flex: 47%;
    }

    .logo {
        flex: 6%;
    }
    .navSecond {
        flex: 47%;
    }

    #navServices a,#navAbout a {
        font-size: 1.2em;   
    }

    #cta h1 {
        font-size: 5em;
    }

    #cta hr {
        width: 50%;
    }

    #cta p {
        font-size: 1.6em;
        font-weight: 600;
    }

    #cta button {
        font-size: 1.4em;
    }

    #red svg {
        width: 50px;
        height: 50px;
    }
    /* backUno */
    #tittle h2  {
        font-size: 2em;
    }
 
    #hrFifth hr {
        width: 45%;
    }

    #hrSixth hr {
        width: 45%;
        margin-left: 6%;
    }

    .explanation p  {
        font-size: 1.3em;
    }

    /*backTow inicio */

    #tittleTwo h2 {
        font-size: 2em;
    }
    #hrSeventh hr {
        margin-left: 66%;
    }

    #hrEight hr {
        margin-left: 6%;
    }

    .material h2 {
        font-size: 2.4em;
    }

    .material p {
        width: 90%;
        font-size: 1.3em;
    }

    .material button {
        font-size: 1.2em;
    }
    /*testimoni inicio*/
    .backForth  {
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #titleForth {
        width: 90%;
    }

    #tittleForth h2 {
        font-size: 2em;
    }

    #tittleForth {
        flex: 50%;
    }
    #hrEleventh,#hrTwelve {
        flex: 25%;
    }

    #hrEleventh hr {
        width: 60%;
        margin-left: 40%;
    }

    #hrTwelve hr  {
        width: 60%;
        margin-left: 0%;
    }

    .paragra p {
        width: 90%;
        font-size: 1.6em;
    }
    .personTestimonial {
        padding-bottom: 70px;
    }

    .person_testimonial {
        width: 40%;
    }

    /* backThree */
    #tittleThree h2  {
        font-size: 2em;
    }
    

    #hrNineth hr {
        width: 55%;
    }

    #hrTenth hr {
        width: 55%;
        margin-left: 8%;
    }

    .advan p {
        width: 80%;
        font-size: 1.1em;
    }
    .advan button  {
        font-size: 1em;
    }

    /* formulario */

    #tittleFifth h2 {
        font-size: 2.4em;
    }

    input[type=submit] {
        margin-left: 33% ;
        font-size: 1.6em;
    }

    /* footer */

    .lgo {
        flex:10%;
    }

    .references {
        flex:40%;
    }
    .comunity {
        flex: 40%;
    }

    .redSocial {
        flex: 10%;
    }

    #redSocial {
        padding-top: 0%;
        padding-bottom: 0%;
        width: 20%;
        margin-left: 85%;
    }
    #comunity h4 {
        font-size: 1.4em;
    }
    #references h4 {
        font-size: 1.4em;
    }
    #facebook svg {
        height: 50px;
        width:50px;
    }

    #instagram svg {
        height: 50px;
        width:50px;
    }   

}

@media only screen and (min-width: 800px) and (max-width:899px) {

html,body {
    margin:0px;
    padding:0px;
    width: 100%;
    overflow-x: hidden;
}
    .back {
        height: 820px;
        background-position:center center ;
        background-size:100%;
        margin-bottom: 130px;
    }

    .navBar {
        flex-wrap: nowrap;
    }

    .navFirst {
        flex: 47%;
    }

    .logo {
        flex: 6%;
    }
    .navSecond {
        flex: 47%;
    }

    #navServices a,#navAbout a {
        font-size: 1em;   
    }

    #cta h1 {
        font-size: 5em;
    }

    #cta hr {
        width: 50%;
    }

    #cta p {
        font-size: 1.6em;
        font-weight: 600;
    }

    #cta button {
        font-size: 1.4em;
    }

    #red {
        margin-right: 4px;
    }
    #red svg {
        width: 50px;
        height: 50px;
    }
    /* backUno */
    #tittle h2  {
        font-size: 2em;
    }
 
    #hrFifth hr {
        width: 45%;
    }

    #hrSixth hr {
        width: 45%;
        margin-left: 6%;
    }
    .img_first  {
        width: 80%;
        padding-bottom: 20px;
    }

    .explanation p  {
        font-size: 1em;
        text-align: center;
    }

    /*backTow inicio */
    .titleTwo  {
        padding-bottom: 30px;
        padding-top: 60px;
    }
 
    #tittleTwo h2 {
        font-size: 2em;
    }
    #hrSeventh hr {
        margin-left: 66%;
    }

    #hrEight hr {
        margin-left: 6%;
    }

    .info {
        flex:100%;
    }
    .material_img {
        flex: 100%;
    }

    .material h2 {
        font-size: 2em;
    }

    .material p {
        width: 80%;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.472);
    }

    .material button {
        font-size: 1.2em;
    }
    /*testimoni inicio*/
    .backForth  {
        margin-top: 80px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #titleForth {
        width: 90%;
    }

    #tittleForth h2 {
        font-size: 1.8em;
    }

    #tittleForth {
        flex: 50%;
    }
    #hrEleventh,#hrTwelve {
        flex: 25%;
    }

    #hrEleventh hr {
        width: 60%;
        margin-left: 40%;
    }

    #hrTwelve hr  {
        width: 60%;
        margin-left: 0%;
    }
    .paragra h2 {
        font-size: 1.8em;
    }

    .paragra p {
        width: 90%;
        font-size: 1em;
    }

    .personTestimonial {
        padding-bottom: 70px;
    }

    .person_testimonial {
        width: 40%;
    }

    .people {
        font-size: 0.8em;
    }

    /* backThree */
    .backThree {
        margin-top: 120px;
    }

    #tittleThree h2  {
        font-size: 2em;
    }
    

    #hrNineth hr {
        width: 55%;
    }

    #hrTenth hr {
        width: 55%;
        margin-left: 8%;
    }

    .advan p {
        width: 80%;
        font-size: 1.1em;
    }
    .advan button  {
        font-size: 1em;
    }

    /* formulario */

    #tittleFifth h2 {
        font-size: 2.4em;
    }

    input[type=submit] {
        margin-left: 28% ;
        font-size: 1.6em;
    }
    label {
        font-size: 1.4em;
    }

    /* footer */

    .lgo {
        flex:100%;
    }

    .references {
        flex:100%;
        text-align: center;
    }
    .comunity {
        flex: 100%;
        text-align: center;
    }

    .redSocial {
        flex: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #redSocial {
        padding-top: 0%;
        padding-bottom: 0%;
        width: 40%;
        text-align: center;
        margin:0 auto;
    }

    #comunity h3 {
        padding-top: 20px;
    }

    #references h3 {
        padding-top: 10px;
    }
   
    #comunity h4 {
        font-size: 1.2em;
    }
    #references h4 {
        font-size: 1.2em;
    }
    #facebook svg {
        height: 50px;
        width:50px;
    }

    #instagram svg {
        height: 50px;
        width:50px;
    }   

}


@media only screen and (min-width: 700px) and (max-width:799px) {
   
    html,body {
        margin:0px;
        padding:0px;
        width: 100%;
        overflow-x: hidden;
    }
        .back {
            height: 820px;
            background-position:center center ;
            background-size:100%;
            margin-bottom: 130px;
        }
    
        .navHidden {
            display: flex;
        }
    
        .container {
            position: absolute;
            top:-20px; right: -180px;
            bottom: 0; left: 0px;
            overflow: hidden;
        }
    
        .back {
            height: 840px; 
            background-position: center center;
            margin-bottom: 120px;
            background-repeat: no-repeat;
        }
    
        .navBar {
            padding-top: 5px;
            display: none;
        }
    
    
        #cta h1 {
            font-size: 5em;
        }
    
        #cta hr {
            width: 50%;
        }
    
        #cta p {
            font-size: 1.6em;
            font-weight: 600;
        }
    
        #cta button {
            font-size: 1.4em;
        }
    
        #red {
            margin-right: 12px;
        }
        #red svg {
            width: 50px;
            height: 50px;
        }
        /* backUno */
        #tittle h2  {
            font-size: 2em;
        }
     
        #hrFifth hr {
            width: 45%;
        }
    
        #hrSixth hr {
            width: 45%;
            margin-left: 6%;
        }
        .img_first  {
            width: 80%;
            padding-bottom: 20px;
        }
    
        .explanation p  {
            font-size: 1em;
            text-align: center;
        }
    
        /*backTow inicio */
        .titleTwo  {
            padding-bottom: 30px;
            padding-top: 60px;
        }
     
        #tittleTwo h2 {
            font-size: 2em;
        }
        #hrSeventh hr {
            margin-left: 66%;
        }
    
        #hrEight hr {
            margin-left: 6%;
        }
    
        .info {
            flex:100%;
        }
        .material_img {
            flex: 100%;
        }
    
        .material h2 {
            font-size: 2em;
        }
    
        .material p {
            width: 80%;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.472);
        }
    
        .material button {
            font-size: 1.2em;
        }
        /*testimoni inicio*/
        .backForth  {
            margin-top: 80px;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    
        #titleForth {
            width: 90%;
        }
    
        #tittleForth h2 {
            font-size: 1.8em;
        }
    
        #tittleForth {
            flex: 50%;
        }
        #hrEleventh,#hrTwelve {
            flex: 25%;
        }
    
        #hrEleventh hr {
            width: 60%;
            margin-left: 40%;
        }
    
        #hrTwelve hr  {
            width: 60%;
            margin-left: 0%;
        }
        .paragra h2 {
            font-size: 1.8em;
        }
    
        .paragra p {
            width: 90%;
            font-size: 1em;
        }
    
        .personTestimonial {
            padding-bottom: 70px;
        }
    
        .person_testimonial {
            width: 40%;
        }
    
        .people {
            font-size: 0.8em;
        }
    
        /* backThree */
        .backThree {
            margin-top: 120px;
        }
    
        #tittleThree h2  {
            font-size: 2em;
        }
        
    
        #hrNineth hr {
            width: 55%;
        }
    
        #hrTenth hr {
            width: 55%;
            margin-left: 8%;
        }
    
        .advan p {
            width: 80%;
            font-size: 1.1em;
        }
        .advan button  {
            font-size: 1em;
        }
    
        /* formulario */
    
        #tittleFifth h2 {
            font-size: 2.4em;
        }
    
        input[type=submit] {
            margin-left: 28% ;
            font-size: 1.6em;
        }
        label {
            font-size: 1.4em;
        }
    
        /* footer */
    
        .lgo {
            flex:100%;
        }
    
        .references {
            flex:100%;
            text-align: center;
        }
        .comunity {
            flex: 100%;
            text-align: center;
        }
    
        .redSocial {
            flex: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    
        #redSocial {
            padding-top: 0%;
            padding-bottom: 0%;
            width: 40%;
            text-align: center;
            margin:0 auto;
        }
    
        #comunity h3 {
            padding-top: 20px;
        }
    
        #references h3 {
            padding-top: 10px;
        }
       
        #comunity h4 {
            font-size: 1.2em;
        }
        #references h4 {
            font-size: 1.2em;
        }
        #facebook svg {
            height: 50px;
            width:50px;
        }
    
        #instagram svg {
            height: 50px;
            width:50px;
        }   
        
}

@media only screen and (min-width: 600px) and (max-width:699px) {
 
    html,body {
        margin:0px;
        padding:0px;
        width: 100%;
        overflow-x: hidden;
    }
        .back {
            height: 800px;
            background-position:center center ;
            background-size:100%;
            margin-bottom: 130px;
        }
    
        .navHidden {
            display: flex;
        }
    
        .container {
            position: absolute;
            top:-20px; right: -120px;
            bottom: 0; left: 0px;
            overflow: hidden;
        }
    
        .back {
            height: 840px; 
            background-position: center center;
            margin-bottom: 120px;
            background-repeat: no-repeat;
        }
    
        .navBar {
            padding-top: 5px;
            display: none;
        }
    
    
        #cta h1 {
            font-size: 5em;
        }
    
        #cta hr {
            width: 80%;
        }
    
        #cta p {
            font-size: 1.6em;
            font-weight: 600;
        }
    
        #cta button {
            font-size: 1em;
        }
    
        #red {
            margin-right: 12px;
        }
        #red svg {
            width: 50px;
            height: 50px;
        }
        /* backUno */
        #tittle h2  {
            font-size: 2em;
        }
     
        #hrFifth hr {
            width: 45%;
        }
    
        #hrSixth hr {
            width: 45%;
            margin-left: 6%;
        }
        .img_first  {
            width: 80%;
            padding-bottom: 20px;
        }
    
        .explanation p  {
            font-size: 1em;
            text-align: center;
        }
    
        /*backTow inicio */
        .titleTwo  {
            padding-bottom: 30px;
            padding-top: 60px;
        }
     
        #tittleTwo h2 {
            font-size: 2em;
        }
        #hrSeventh hr {
            margin-left: 66%;
        }
    
        #hrEight hr {
            margin-left: 6%;
        }
    
        .info {
            flex:100%;
        }
        .material_img {
            flex: 100%;
        }
    
        .material h2 {
            font-size: 2em;
        }
    
        .material p {
            width: 80%;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.472);
        }
    
        .material button {
            font-size: 1.2em;
        }
        /*testimoni inicio*/
        .backForth  {
            margin-top: 80px;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    
        #titleForth {
            width: 90%;
        }
    
        #tittleForth h2 {
            font-size: 1.8em;
        }
    
        #tittleForth {
            flex: 50%;
        }
        #hrEleventh,#hrTwelve {
            flex: 25%;
        }
    
        #hrEleventh hr {
            width: 60%;
            margin-left: 40%;
        }
    
        #hrTwelve hr  {
            width: 60%;
            margin-left: 0%;
        }
        .paragra h2 {
            font-size: 1.8em;
        }
    
        .paragra p {
            width: 90%;
            font-size: 1em;
        }
    
        .personTestimonial {
            padding-bottom: 70px;
        }
    
        .person_testimonial {
            width: 40%;
        }
    
        .people {
            font-size: 0.8em;
        }
    
        /* backThree */
        .backThree {
            margin-top: 120px;
        }
    
        #tittleThree h2  {
            font-size: 2em;
        }
        
    
        #hrNineth hr {
            width: 55%;
        }
    
        #hrTenth hr {
            width: 55%;
            margin-left: 8%;
        }
    
        .advan p {
            width: 80%;
            font-size: 1em;
        }
        .advan button  {
            font-size: 1em;
        }
    
        /* formulario */
    
        #tittleFifth h2 {
            font-size: 2.4em;
        }
    
        input[type=submit] {
            margin-left: 24% ;
            font-size: 1.2em;
        }
        label {
            font-size: 1.4em;
        }
    
        /* footer */
    
        .lgo {
            flex:100%;
        }
    
        .references {
            flex:100%;
            text-align: center;
        }
        .comunity {
            flex: 100%;
            text-align: center;
        }
    
        .redSocial {
            flex: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    
        #redSocial {
            padding-top: 0%;
            padding-bottom: 0%;
            width: 40%;
            text-align: center;
            margin:0 auto;
        }
    
        #comunity h3 {
            padding-top: 20px;
        }
    
        #references h3 {
            padding-top: 10px;
        }
       
        #comunity h4 {
            font-size: 1.2em;
        }
        #references h4 {
            font-size: 1.2em;
        }
        #facebook svg {
            height: 50px;
            width:50px;
        }
    
        #instagram svg {
            height: 50px;
            width:50px;
        }        
    
}

@media only screen and (min-width: 500px) and (max-width:599px) {
    html,body {
        margin:0px;
        padding:0px;
        width: 100%;
        overflow-x: hidden;
    }
        .back {
            height: 800px;
            background-position:center center ;
            background-size:100%;
            margin-bottom: 130px;
        }
    
        .navHidden {
            display: flex;
        }
    
        .container {
            position: absolute;
            top:-20px; right: -20px;
            bottom: 0; left: 0px;
            overflow: hidden;
        }
    
        .back {
            height: 840px; 
            background-position: center center;
            margin-bottom: 120px;
            background-repeat: no-repeat;
        }
    
        .navBar {
            padding-top: 5px;
            display: none;
        }
    
    
        #cta h1 {
            font-size: 4em;
        }
    
        #cta hr {
            width: 80%;
        }
    
        #cta p {
            font-size: 1.6em;
            font-weight: 600;
        }
    
        #cta button {
            font-size: 1em;
        }
    
        #red {
            margin-right: 30px;
        }
        #red svg {
            width: 50px;
            height: 50px;
        }
        /* backUno */
        #tittle h2  {
            font-size: 2em;
        }
     
        #hrFifth hr {
            width: 45%;
        }
    
        #hrSixth hr {
            width: 45%;
            margin-left: 6%;
        }
        .img_first  {
            width: 80%;
            padding-bottom: 20px;
        }
    
        .explanation p  {
            font-size: 1em;
            text-align: center;
        }
    
        /*backTow inicio */
        .titleTwo  {
            padding-bottom: 30px;
            padding-top: 60px;
        }
     
        #tittleTwo h2 {
            font-size: 2em;
        }
        #hrSeventh hr {
            margin-left: 66%;
        }
    
        #hrEight hr {
            margin-left: 6%;
        }
    
        .info {
            flex:100%;
        }
        .material_img {
            flex: 100%;
        }
    
        .material h2 {
            font-size: 2em;
        }
    
        .material p {
            width: 80%;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.472);
        }
    
        .material button {
            font-size: 1.2em;
        }
        /*testimoni inicio*/
        .backForth  {
            margin-top: 80px;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    
        #titleForth {
            width: 90%;
        }
    
        #tittleForth h2 {
            font-size: 1.4em;
        }
    
        #tittleForth {
            flex: 50%;
        }
        #hrEleventh,#hrTwelve {
            flex: 25%;
        }
    
        #hrEleventh hr {
            width: 60%;
            margin-left: 40%;
        }
    
        #hrTwelve hr  {
            width: 60%;
            margin-left: 0%;
        }
        .paragra h2 {
            font-size: 1.4em;
        }
    
        .paragra p {
            width: 90%;
            font-size: 1em;
        }
    
        .personTestimonial {
            padding-bottom: 70px;
            width: 80%;
        }
    
        .person_testimonial {
            width: 40%;
        }
        .person svg {
            width: 80px;
            height: 80px;
        }
    
        .people {
            font-size: 0.8em;
        }
    
        /* backThree */
        .backThree {
            margin-top: 120px;
        }
    
        #tittleThree h2  {
            font-size: 2em;
        }
        
    
        #hrNineth hr {
            width: 55%;
        }
    
        #hrTenth hr {
            width: 55%;
            margin-left: 8%;
        }
    
        .advan p {
            width: 80%;
            font-size: 1em;
        }
        .advan button  {
            font-size: 1em;
        }
    
        /* formulario */
    
        #tittleFifth h2 {
            font-size: 2.4em;
        }
    
        input[type=submit] {
            margin-left: 24% ;
            font-size: 1.2em;
        }
        label {
            font-size: 1.4em;
        }
    
        /* footer */
    
        .lgo {
            flex:100%;
        }
    
        .references {
            flex:100%;
            text-align: center;
        }
        .comunity {
            flex: 100%;
            text-align: center;
        }
    
        .redSocial {
            flex: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    
        #redSocial {
            padding-top: 0%;
            padding-bottom: 0%;
            width: 40%;
            text-align: center;
            margin:0 auto;
        }
    
        #comunity h3 {
            padding-top: 20px;
            font-size: 1.4em;
        }
    
        #references h3 {
            padding-top: 10px;
            font-size: 1.4em;
        }
       
        #comunity h4 {
            font-size: 1.2em;
        }
        #references h4 {
            font-size: 1.2em;
        }
        #facebook svg {
            height: 50px;
            width:50px;
        }
    
        #instagram svg {
            height: 50px;
            width:50px;
        }        
    
}

@media only screen and (min-width: 400px) and (max-width:499px) {

    html,body {
        margin:0px;
        padding:0px;
        width: 100%;
        overflow-x: hidden;
    }
        .back {
            height: 800px;
            background-position:center center ;
            background-size:100%;
            margin-bottom: 130px;
        }
    
      .navHidden {
        display: flex;
        height:6% ;
       }

        .logoHidden {
        overflow: hidden;
        }

        #logoHidden img {
            width: 40%;
        }

        .navHambu {
        overflow: hidden;
        }

        .container {
            position: absolute;
            top:-20px; right: 40px;
            bottom: 0; left: 0px;
            overflow: hidden;
        }
    
        .back {
            height: 780px; 
            background-position: center center;
            margin-bottom: 120px;
            background-repeat: no-repeat;
        }
    
        .navBar {
            padding-top: 5px;
            display: none;
        }

        .cta {
            margin-top: 140px;
        }
        
        #cta {
            width: 80%;
        }
    
        #cta h1 {
            font-size: 4em;
        }
    
        #cta hr {
            width: 60%;
        }
    
        #cta p {
            font-size: 1.6em;
            font-weight: 600;
        }
    
        #cta button {
            font-size: 1em;
        }
    
        #red {
            margin-right: 30px;
        }
        #red svg {
            width: 50px;
            height: 50px;
        }
        /* backUno */
        #tittle h2  {
            font-size: 2em;
        }
     
        #hrFifth hr {
            width: 45%;
        }
    
        #hrSixth hr {
            width: 45%;
            margin-left: 6%;
        }
        .img_first  {
            width: 80%;
            padding-bottom: 10px;
        }

        .explanation {
            width: 80%;
        }
    
        .explanation p  {
            font-size: 1em;
            text-align: center;
        }
    
        /*backTow inicio */
        .titleTwo  {
            padding-bottom: 30px;
            padding-top: 60px;
        }
     
        #tittleTwo h2 {
            font-size: 1.6em;
        }
        #hrSeventh hr {
            margin-left: 66%;
        }
    
        #hrEight hr {
            margin-left: 6%;
        }
    
        .info {
            flex:100%;
        }
        .material_img {
            flex: 100%;
        }
    
        .material h2 {
            font-size: 1.4em;
        }
    
        .material p {
            width: 90%;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.472);
        }
    
        .material button {
            font-size: 1.2em;
        }
        /*testimoni inicio*/
        .backForth  {
            margin-top: 80px;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    
        #titleForth {
            width: 90%;
        }
    
        #tittleForth h2 {
            font-size: 1.2em;
        }
    
        #tittleForth {
            flex: 50%;
        }
        #hrEleventh,#hrTwelve {
            flex: 25%;
        }
    
        #hrEleventh hr {
            width: 60%;
            margin-left: 40%;
        }
    
        #hrTwelve hr  {
            width: 60%;
            margin-left: 0%;
        }
        .paragra {
            width: 80%;
        }
        .paragra h2 {
            font-size: 1.4em;
        }
    
        .paragra p {
            width: 90%;
            font-size: 1em;
        }
    
        .personTestimonial {
            padding-bottom: 70px;
            width: 80%;
        }
    
        .person_testimonial {
            width: 80%;
        }
        .person svg {
            width: 80px;
            height: 80px;
        }
    
        .people {
            font-size: 0.8em;
        }
    
        /* backThree */
        .backThree {
            margin-top: 120px;
        }
    
        #tittleThree h2  {
            font-size: 1.6em;
        }
        
    
        #hrNineth hr {
            width: 55%;
        }
    
        #hrTenth hr {
            width: 55%;
            margin-left: 8%;
        }

        .advan h3 {
            font-size: 1.2em;
        }
    
        .advan p {
            width: 80%;
            font-size: 1em;
        }
        .advan button  {
            font-size: 1em;
        }
    
        /* formulario */
        .formu {
            width: 60%;
        }
    
        #tittleFifth h2 {
            font-size: 2.4em;
        }
    
        input[type=submit] {
            margin-left: 22% ;
            font-size: 1.2em;
        }
        label {
            font-size: 1.4em;
        }
    
        /* footer */
    
        .lgo {
            flex:100%;
        }
    
        .references {
            flex:100%;
            text-align: center;
        }
        .comunity {
            flex: 100%;
            text-align: center;
        }
    
        .redSocial {
            flex: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    
        #redSocial {
            padding-top: 0%;
            padding-bottom: 0%;
            width: 40%;
            text-align: center;
            margin:0 auto;
        }
    
        #comunity h3 {
            padding-top: 20px;
            font-size: 1.4em;
        }
    
        #references h3 {
            padding-top: 10px;
            font-size: 1.4em;
        }
       
        #comunity h4 {
            font-size: 1.2em;
        }
        #references h4 {
            font-size: 1.2em;
        }
        #facebook svg {
            height: 50px;
            width:50px;
        }
    
        #instagram svg {
            height: 50px;
            width:50px;
        }        
}

@media only screen  and (max-width:399px) {

    html,body {
        margin:0px;
        padding:0px;
        width: 100%;
        overflow-x: hidden;
    }
        .back {
            height: 800px;
            background-position:center center ;
            background-size:100%;
            margin-bottom: 130px;
        }
    
      .navHidden {
        display: flex;
        height:6% ;
       }

        .logoHidden {
        overflow: hidden;
        }

        #logoHidden img {
            width: 40%;
        }

        .navHambu {
        overflow: hidden;
        }

        .main-nav a  {
            font-size: 1em;
            color:red;
        }

        .container {
            position: absolute;
            top:-20px; right: 60px;
            bottom: 0; left: 0px;
            overflow: hidden;
        }
    
        .back {
            height: 780px; 
            background-position: center center;
            margin-bottom: 120px;
            background-repeat: no-repeat;
        }
    
        .navBar {
            padding-top: 5px;
            display: none;
        }

        .cta {
            margin-top: 140px;
        }
        
        #cta {
            width: 80%;
        }
    
        #cta h1 {
            font-size: 4em;
        }
    
        #cta hr {
            width: 60%;
        }
    
        #cta p {
            font-size: 1.6em;
            font-weight: 600;
        }
    
        #cta button {
            font-size: 1em;
        }
    
        #red {
            margin-right: 30px;
        }
        #red svg {
            width: 50px;
            height: 50px;
        }
        /* backUno */
        #tittle h2  {
            font-size: 2em;
        }
     
        #hrFifth hr {
            width: 45%;
        }
    
        #hrSixth hr {
            width: 45%;
            margin-left: 6%;
        }
        .img_first  {
            width: 80%;
            padding-bottom: 10px;
        }

        .explanation {
            width: 80%;
        }
    
        .explanation p  {
            font-size: 1em;
            text-align: center;
        }
    
        /*backTow inicio */
        .titleTwo  {
            padding-bottom: 30px;
            padding-top: 60px;
        }
     
        #tittleTwo h2 {
            font-size: 1.6em;
        }
        #hrSeventh hr {
            margin-left: 66%;
        }
    
        #hrEight hr {
            margin-left: 6%;
        }
    
        .info {
            flex:100%;
        }
        .material_img {
            flex: 100%;
        }
    
        .material h2 {
            font-size: 1.4em;
        }
    
        .material p {
            width: 90%;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.472);
        }
    
        .material button {
            font-size: 1.2em;
        }
        /*testimoni inicio*/
        .backForth  {
            margin-top: 80px;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    
        #titleForth {
            width: 90%;
        }
    
        #tittleForth h2 {
            font-size: 1.2em;
        }
    
        #tittleForth {
            flex: 50%;
        }
        #hrEleventh,#hrTwelve {
            flex: 25%;
        }
    
        #hrEleventh hr {
            width: 60%;
            margin-left: 40%;
        }
    
        #hrTwelve hr  {
            width: 60%;
            margin-left: 0%;
        }
        .paragra {
            width: 80%;
        }
        .paragra h2 {
            font-size: 1.4em;
        }
    
        .paragra p {
            width: 90%;
            font-size: 1em;
        }
    
        .personTestimonial {
            padding-bottom: 70px;
            width: 80%;
        }
    
        .person_testimonial {
            width: 80%;
        }
        .person svg {
            width: 80px;
            height: 80px;
        }
    
        .people {
            font-size: 0.8em;
        }
    
        /* backThree */
        .backThree {
            margin-top: 120px;
        }
    
        #tittleThree h2  {
            font-size: 1.6em;
        }
        
    
        #hrNineth hr {
            width: 55%;
        }
    
        #hrTenth hr {
            width: 55%;
            margin-left: 8%;
        }

        .advan h3 {
            font-size: 1.2em;
        }
    
        .advan p {
            width: 80%;
            font-size: 1em;
        }
        .advan button  {
            font-size: 1em;
        }
    
        /* formulario */
        .formu {
            width: 60%;
        }
    
        #tittleFifth h2 {
            font-size: 2.4em;
        }
    
        input[type=submit] {
            margin-left: 22% ;
            font-size: 1.2em;
        }
        label {
            font-size: 1.4em;
        }
    
        /* footer */
    
        .lgo {
            flex:100%;
        }
    
        .references {
            flex:100%;
            text-align: center;
        }
        .comunity {
            flex: 100%;
            text-align: center;
        }
    
        .redSocial {
            flex: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    
        #redSocial {
            padding-top: 0%;
            padding-bottom: 0%;
            width: 40%;
            text-align: center;
            margin:0 auto;
        }
    
        #comunity h3 {
            padding-top: 20px;
            font-size: 1.4em;
        }
    
        #references h3 {
            padding-top: 10px;
            font-size: 1.4em;
        }
       
        #comunity h4 {
            font-size: 1.2em;
        }
        #references h4 {
            font-size: 1.2em;
        }
        #facebook svg {
            height: 50px;
            width:50px;
        }
    
        #instagram svg {
            height: 50px;
            width:50px;
        }  
}






